*{
    margin: 0;
    padding: 0;
}

body {
    background-color:  #271723;
    font-family: 'Nunito', sans-serif;
}
section{
    width: 280px;
    margin: 0 auto;
}
article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    
}

article h3 {
    border-top: 2px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color:#155f76;
    padding: 20px;
    position: relative;
    bottom: 5px;
}
article img {
    position:relative;
    bottom: 5px;
}
article h4{
    color: #cfaea8;
    padding: 10px;
    text-align: center;
}
article h5 {
    text-align: center;
    padding: 8px;
    
}
article  p{
    padding: 10px;
    text-align: center;
    color: #6f6e78;
}
article .footer{
    text-align: left;
    background-color: #155f76;
    padding: 15px;
    position: relative;
    top: 10px;
    color: black;
    
}